<div class="research-form-grid" [formGroup]="formGroup">
  <div class="research-form-grid-item">Losers</div>
  <div class="research-form-grid-item">
    <input formControlName="losers" type="checkbox">
  </div>
  <div></div>

  <div class="research-form-grid-item">Type</div>
  <div class="research-form-grid-item">
    <select formControlName="type">
      <option ngValue="">Select value</option>
      <option ngValue="STOCK">STOCK</option>
      <option ngValue="OPTION">OPTION</option>
    </select>
  </div>
  <div></div>

  <div class="research-form-grid-item">Lowest Price</div>
  <div class="research-form-grid-item">
    <input formControlName="lowestPrice">
  </div>
  <div></div>

  <div class="research-form-grid-item">highestPrice</div>
  <div class="research-form-grid-item">
    <input formControlName="highestPrice">
  </div>
  <div>
    <button type="button" (click)="search()">Search</button>&nbsp;
    <button type="button" (click)="reset()">Reset</button>
  </div>
</div>
